header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
}

nav {
  display: flex;
}

nav a {
  display: block;
  padding: 10px;
}

.nav-item {
  background-color: #ffffff;
}
